# Data Handling
pandas
numpy
# Data Visualization
matplotlib
seaborn
plotly
# Time Series Forecasting
statsmodels
pmdarima
tensorflow          # For LSTM model
keras               # For building neural networks
# Financial Data Extraction
yfinance
# Machine Learning & Model Evaluation
scikit-learn
# Portfolio Optimization
cvxpy               # For convex optimization
scipy               # Optimization support
# Utility Libraries
jupyterlab          # For running Jupyter Notebooks